:root {
  --dn-brand-color: #1890ff;
  --dn-brand-hovering: #40a9ff;
  --dn-brand-dragging: rgba(24, 144, 255, 0.26);
  --dn-brand-dropping: rgba(24, 144, 255, 0.34);
  --dn-brand-moving: rgba(24, 144, 255, 0.5);
  --dn-white: #fff;
  --dn-white-gray: #d9d9d9;
  --dn-white-gray-light: #eee;
  --dn-white-gray-lighter: #f0f0f0;
  --dn-white-gray-dark: #aaa;
  --dn-gray: #333;
  --dn-gray-light: #444;
  --dn-gray-lighter: #666;
  --dn-gray-dark: #222;
  --dn-black: #1a1a1a;
}
.dn-light {
  --dn-aux-cover-rect-dragging-color: var(--dn-brand-dragging);
  --dn-aux-cover-rect-dropping-color: var(--dn-brand-dropping);
  --dn-aux-free-selection-background-color: var(--dn-brand-color);
  --dn-aux-free-selection-border-color: var(--dn-brand-color);
  --dn-aux-insertion-color: var(--dn-brand-color);
  --dn-aux-dashed-box-color: var(--dn-brand-color);
  --dn-aux-dashed-box-title-color: var(--dn-gray);
  --dn-aux-selection-box-border-color: var(--dn-brand-color);
  --dn-aux-selection-box-color: var(--dn-gray);
  --dn-ghost-color: var(--dn-white);
  --dn-ghost-bg-color: var(--dn-brand-moving);
  --dn-outline-tree-bg-color: var(--dn-white);
  --dn-outline-tree-header-border-color: var(--dn-white-gray-light);
  --dn-outline-tree-color: var(--dn-gray);
  --dn-outline-tree-insertion-bg-color: var(--dn-brand-color);
  --dn-outline-tree-node-header-color: var(--dn-gray);
  --dn-outline-tree-node-hover-color: var(--dn-brand-color);
  --dn-toolbar-input-color: var(--dn-gray-dark);
  --dn-toolbar-input-bg-color: var(--dn-white);
  --dn-toolbar-input-border-color: var(--dn-white-gray-light);
  --dn-toolbar-input-hover-border-color: var(--dn-white-gray-light);
  --dn-toolbar-input-handler-bg-color: var(--dn-white);
  --dn-resize-handle-bg-color: var(--dn-white-gray-light);
  --dn-resize-handle-hover-bg-color: var(--dn-white-gray-lighter);
  --dn-resize-handle-color: var(--dn-gray-light);
  --dn-resize-handle-hover-color: var(--dn-white-lighter);
  --dn-mobile-simulator-bg-color: var(--dn-white-gray-light);
  --dn-mobile-simulator-body-bg-color: var(--dn-white);
  --dn-mobile-simulator-border-color: var(--dn-gray-dark);
  --dn-responsive-simulator-bg-color: var(--dn-white);
  --dn-pc-simulator-bg-color: var(--dn-white);
  --dn-aux-selector-btn-color: var(--dn-white);
  --dn-aux-selector-btn-bg-color: var(--dn-brand-color);
  --dn-aux-selector-btn-border-color: var(--dn-brand-color);
  --dn-aux-selector-btn-hover-color: var(--dn-white);
  --dn-aux-selector-btn-hover-bg-color: var(--dn-brand-hovering);
  --dn-aux-selector-btn-hover-border-color: var(--dn-brand-hovering);
  --dn-aux-selector-btn-active-color: var(--dn-white);
  --dn-aux-selector-btn-active-bg-color: var(--dn-brand-hovering);
  --dn-aux-selector-btn-active-border-color: var(--dn-brand-hovering);
  --dn-panel-border-color: var(--dn-white-gray);
  --dn-panel-active-bg-color: var(--dn-white-gray-light);
  --dn-resource-content-bg-color: var(--dn-white);
  --dn-composite-panel-tabs-bg-color: var(--dn-white);
  --dn-composite-panel-tabs-active-bg-color: var(--dn-white);
  --dn-composite-panel-highlight-bg-color: var(--dn-white-gray-light);
  --dn-composite-panel-tabs-color: var(--dn-gray-lighter);
  --dn-composite-panel-tabs-hover-color: var(--dn-brand-color);
  --dn-composite-panel-tabs-content-bg-color: var(--dn-white);
  --dn-composite-panel-tabs-header-color: var(--dn-gray-lighter);
  --dn-collapse-header-color: var(--dn-gray);
  --dn-resource-item-color: var(--dn-gray);
  --dn-resource-item-hover-border-color: var(--dn-brand-color);
  --dn-resource-item-hover-color: var(--dn-brand-color);
  --dn-main-panel-header-bg-color: var(--dn-white);
  --dn-workspace-panel-bg-color: var(--dn-white-gray-light);
  --dn-scrollbar-color: var(--dn-white-gray);
  --dn-scrollbar-hover-color: var(--white-dn-gray-lighter);
  --dn-empty-bg-color: var(--dn-white);
  --dn-droppable-bg-color: var(--dn-white-gray-lighter);
  --dn-droppable-border-color: var(--dn-white-gray-dark);
  --dn-droppable-color: var(--dn-gray-lighter);
}
.dn-dark {
  --dn-aux-cover-rect-dragging-color: var(--dn-brand-dragging);
  --dn-aux-cover-rect-dropping-color: var(--dn-brand-dropping);
  --dn-aux-free-selection-background-color: var(--dn-brand-color);
  --dn-aux-free-selection-border-color: var(--dn-brand-color);
  --dn-aux-insertion-color: var(--dn-brand-color);
  --dn-aux-dashed-box-color: var(--dn-brand-color);
  --dn-aux-dashed-box-title-color: var(--dn-brand-color);
  --dn-aux-selection-box-border-color: var(--dn-brand-color);
  --dn-aux-selection-box-color: var(--dn-gray);
  --dn-ghost-color: var(--dn-white);
  --dn-ghost-bg-color: var(--dn-brand-moving);
  --dn-outline-tree-bg-color: var(--dn-gray-dark);
  --dn-outline-tree-header-border-color: var(--dn-gray);
  --dn-outline-tree-color: var(--dn-white-gray);
  --dn-outline-tree-insertion-bg-color: var(--dn-brand-color);
  --dn-outline-tree-node-header-color: var(--dn-white-gray);
  --dn-outline-tree-node-hover-color: var(--dn-white-gray);
  --dn-toolbar-input-color: var(--dn-white-gray);
  --dn-toolbar-input-bg-color: transparent;
  --dn-toolbar-input-border-color: var(--dn-gray-light);
  --dn-toolbar-input-hover-border-color: var(--dn-brand-color);
  --dn-toolbar-input-handler-bg-color: var(--dn-gray-light);
  --dn-resize-handle-bg-color: var(--dn-gray-light);
  --dn-resize-handle-hover-bg-color: var(--dn-gray-lighter);
  --dn-resize-handle-color: var(--dn-gray-lighter);
  --dn-resize-handle-hover-color: var(--dn-white-gray-dark);
  --dn-mobile-simulator-bg-color: var(--dn-black);
  --dn-mobile-simulator-body-bg-color: var(--dn-black);
  --dn-mobile-simulator-border-color: var(--dn-black);
  --dn-responsive-simulator-bg-color: var(--dn-black);
  --dn-pc-simulator-bg-color: var(--dn-black);
  --dn-aux-selector-btn-color: var(--dn-white);
  --dn-aux-selector-btn-bg-color: var(--dn-brand-color);
  --dn-aux-selector-btn-border-color: var(--dn-brand-color);
  --dn-aux-selector-btn-hover-color: var(--dn-white);
  --dn-aux-selector-btn-hover-bg-color: var(--dn-brand-hovering);
  --dn-aux-selector-btn-hover-border-color: var(--dn-brand-hovering);
  --dn-aux-selector-btn-active-color: var(--dn-white);
  --dn-aux-selector-btn-active-bg-color: var(--dn-brand-hovering);
  --dn-aux-selector-btn-active-border-color: var(--dn-brand-hovering);
  --dn-panel-border-color: var(--dn-gray-light);
  --dn-panel-active-bg-color: var(--dn-gray);
  --dn-resource-content-bg-color: var(--dn-gray-dark);
  --dn-composite-panel-tabs-bg-color: var(--dn-gray-dark);
  --dn-composite-panel-tabs-active-bg-color: var(--dn-gray-dark);
  --dn-composite-panel-highlight-bg-color: var(--dn-black);
  --dn-composite-panel-tabs-color: var(--dn-white-gray-dark);
  --dn-composite-panel-tabs-hover-color: var(--dn-brand-color);
  --dn-composite-panel-tabs-content-bg-color: var(--dn-gray-dark);
  --dn-composite-panel-tabs-header-color: var(--dn-white-gray);
  --dn-collapse-header-color: var(--dn-white-gray);
  --dn-resource-item-color: var(--dn-white-gray);
  --dn-resource-item-hover-color: var(--dn-brand-color);
  --dn-main-panel-header-bg-color: var(--dn-gray-dark);
  --dn-workspace-panel-bg-color: var(--dn-gray-dark);
  --dn-scrollbar-color: var(--dn-gray-light);
  --dn-scrollbar-hover-color: var(--dn-gray-lighter);
  --dn-empty-bg-color: var(--dn-gray-dark);
  --dn-droppable-bg-color: var(--dn-gray);
  --dn-droppable-border-color: var(--dn-gray-light);
  --dn-droppable-color: var(--dn-white);
}
.dn-app {
  font-feature-settings: 'tnum';
  color: var(--dn-gray-dark);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
}
.dn-app ::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.dn-app ::-webkit-scrollbar-thumb {
  background-color: var(--dn-scrollbar-color);
  border-radius: 0;
  transition: all 0.25s ease-in-out;
}
.dn-app ::-webkit-scrollbar-thumb:hover {
  background-color: var(--dn-scrollbar-hover-color);
}
.dn-app * {
  box-sizing: border-box;
}
.dn-app [contenteditable='true'] {
  cursor: text !important;
  min-height: 14px;
  min-width: 1px;
  outline: none !important;
}
.dn-app [data-content-editable]:not([contenteditable='true']):empty:before {
  content: 'Please Input';
  display: block;
  opacity: 0.6;
}
.dn-app [data-content-editable]:not([contenteditable='true']):hover {
  cursor: text !important;
  opacity: 0.8;
}
.dn-main-panel {
  display: flex;
  flex: 1;
  height: 100%;
  min-height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.dn-main-panel-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.dn-main-panel-container.root {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.dn-main-panel-container.absolute {
  position: absolute;
}
.dn-main-panel-container.relative {
  position: relative;
}
.dn-main-panel-header {
  background: var(--dn-main-panel-header-bg-color);
  border-bottom: 1px solid var(--dn-panel-border-color);
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 4px;
}
.dn-main-panel-header,
.dn-main-panel-header-actions,
.dn-main-panel-header-logo {
  align-items: center;
  display: flex;
}
.dn-main-panel-header-actions {
  justify-content: flex-end;
}
.dn-main-panel.root {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.dn-composite-panel {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  user-select: none;
  z-index: 2;
}
.dn-composite-panel-tabs {
  background-color: var(--dn-composite-panel-tabs-bg-color);
  border-right: 1px solid var(--dn-panel-border-color);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.dn-composite-panel-tabs-pane {
  align-items: center;
  color: var(--dn-composite-panel-tabs-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  min-height: 48px;
  min-width: 48px;
  padding: 10px;
  position: relative;
}
.dn-composite-panel-tabs-pane-title {
  font-size: 10px;
  margin-top: 6px;
}
.dn-composite-panel-tabs-pane.active,
.dn-composite-panel-tabs-pane:hover {
  color: var(--dn-composite-panel-tabs-hover-color);
}
.dn-composite-panel-tabs-pane.active:after {
  background-color: var(--dn-composite-panel-tabs-hover-color);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}
.dn-composite-panel-tabs-content {
  background: var(--dn-composite-panel-tabs-content-bg-color);
  border-right: 1px solid var(--dn-panel-border-color);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
}
.dn-composite-panel-tabs-content.pinning {
  border-right: 1px solid transparent;
  box-shadow: -2px 5px 10px hsla(0, 0%, 40%, 0.42);
  left: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.dn-composite-panel-tabs-header {
  border-bottom: 1px solid var(--dn-panel-border-color);
  color: var(--dn-composite-panel-tabs-header-color);
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  line-height: 18px;
  padding: 14px 7px;
}
.dn-composite-panel-tabs-header-actions {
  align-items: center;
  display: flex;
}
.dn-composite-panel-tabs-header-actions > * {
  margin-right: 8px;
}
.dn-composite-panel-tabs-header-actions > :last-child {
  margin-right: 0;
}
.dn-composite-panel-tabs-header-pin {
  transition: all 0.15s ease-in-out;
}
.dn-composite-panel-tabs-header-pin:hover {
  transform: scale(1.1);
}
.dn-composite-panel-tabs-header-title {
  font-size: 20px;
}
.dn-composite-panel-tabs-header-close {
  transition: all 0.15s ease-in-out;
}
.dn-composite-panel-tabs-header-close:hover {
  transform: rotate(90deg);
}
.dn-composite-panel-tabs-body {
  flex-grow: 2;
  flex-shrink: 2;
  height: 100%;
  overflow: overlay;
  overflow-x: hidden;
}
.dn-composite-panel.direction-right {
  flex-direction: row-reverse;
}
.dn-composite-panel.direction-right .dn-composite-panel-tabs-pane.active:after {
  left: auto;
  right: -1px;
}
.dn-composite-panel.direction-right .dn-composite-panel-tabs-content.pinning {
  left: auto;
  right: 100%;
  top: 0;
}
.dn-composite-panel.direction-right .dn-composite-panel-tabs-content {
  border-left: 1px solid var(--dn-panel-border-color);
  border-right: none;
}
.dn-composite-panel.direction-right .dn-composite-panel-tabs {
  border-left: 1px solid var(--dn-panel-border-color);
}
.dn-workspace-panel {
  background-color: var(--dn-workspace-panel-bg-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  padding: 4px;
  position: relative;
  z-index: 1;
}
.dn-workspace-panel-item {
  position: relative;
}
.dn-workspace-panel button[disabled] {
  pointer-events: none !important;
}
.dn-settings-panel {
  background: var(--dn-composite-panel-tabs-content-bg-color);
  border-left: 1px solid var(--dn-panel-border-color);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  position: relative;
  user-select: none;
  width: 300px;
  z-index: 2;
}
.dn-settings-panel.pinning {
  border-left: 1px solid transparent;
  box-shadow: 2px 5px 10px hsla(0, 0%, 40%, 0.52);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
.dn-settings-panel-header {
  border-bottom: 1px solid var(--dn-panel-border-color);
  color: var(--dn-composite-panel-tabs-header-color);
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  line-height: 18px;
  padding: 14px 7px;
}
.dn-settings-panel-header-actions {
  align-items: center;
  display: flex;
}
.dn-settings-panel-header-actions > * {
  margin-right: 8px;
}
.dn-settings-panel-header-actions > :last-child {
  margin-right: 0;
}
.dn-settings-panel-header-pin {
  transition: all 0.15s ease-in-out;
}
.dn-settings-panel-header-pin:hover {
  transform: scale(1.1);
}
.dn-settings-panel-header-title {
  font-size: 20px;
}
.dn-settings-panel-header-close {
  transition: all 0.15s ease-in-out;
}
.dn-settings-panel-header-close:hover {
  transform: rotate(90deg);
}
.dn-settings-panel-body {
  flex-grow: 2;
  flex-shrink: 2;
  height: 100%;
  overflow: overlay;
}
.dn-settings-panel-opener {
  align-items: center;
  background: var(--dn-composite-panel-tabs-content-bg-color);
  border: 1px solid var(--dn-panel-border-color);
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  color: var(--dn-composite-panel-tabs-color);
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 2;
}
.dn-settings-panel-opener .dn-icon {
  transition: all 0.15s ease-in-out;
}
.dn-settings-panel-opener:hover .dn-icon {
  transform: rotate(45deg);
}
.dn-viewport {
  box-sizing: border-box;
  height: 100%;
  min-height: 100px;
  outline: none;
  overflow: overlay;
  position: relative;
  user-select: none;
  width: 100%;
}
.dn-icon {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
  display: inline-block;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
}
.dn-icon svg {
  pointer-events: none;
}
@keyframes dn-animate-slide-to-top {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}
.dn-auxtool {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: perspective(1px) translateZ(0);
  width: 100%;
  z-index: 2;
}
.dn-aux-button button {
  align-items: center;
  background: var(--dn-aux-selector-btn-bg-color);
  border-color: var(--dn-aux-selector-btn-border-color);
  color: var(--dn-aux-selector-btn-color);
  display: flex;
  font-size: 12px !important;
  height: 20px;
  padding: 0 3px;
}
.dn-aux-button button:focus,
.dn-aux-button button:hover {
  background: var(--dn-aux-selector-btn-hover-bg-color);
  border-color: var(--dn-aux-selector-btn-hover-border-color);
  color: var(--dn-aux-selector-btn-hover-color);
}
.dn-aux-button button:active {
  background: var(--dn-aux-selector-btn-active-bg-color);
  border-color: var(--dn-aux-selector-btn-active-border-color);
  color: var(--dn-aux-selector-btn-active-color);
}
.dn-aux-cover-rect.dragging {
  background-color: var(--dn-aux-cover-rect-dragging-color);
}
.dn-aux-cover-rect.dropping {
  background-color: var(--dn-aux-cover-rect-dropping-color);
}
.dn-aux-free-selection {
  background-color: var(--dn-aux-free-selection-background-color);
  border-color: var(--dn-aux-free-selection-border-color);
}
.dn-aux-helpers {
  pointer-events: all;
  position: absolute;
  user-select: none;
  z-index: 10;
}
.dn-aux-helpers button {
  align-items: center;
  background: var(--dn-aux-selector-btn-bg-color);
  border-color: var(--dn-aux-selector-btn-border-color);
  color: var(--dn-aux-selector-btn-color);
  display: flex;
  font-size: 12px !important;
  height: 20px;
  padding: 0 3px;
}
.dn-aux-helpers button:focus,
.dn-aux-helpers button:hover {
  background: var(--dn-aux-selector-btn-hover-bg-color);
  border-color: var(--dn-aux-selector-btn-hover-border-color);
  color: var(--dn-aux-selector-btn-hover-color);
}
.dn-aux-helpers button:active {
  background: var(--dn-aux-selector-btn-active-bg-color);
  border-color: var(--dn-aux-selector-btn-active-border-color);
  color: var(--dn-aux-selector-btn-active-color);
}
.dn-aux-helpers.bottom-right {
  right: 0;
  top: 100%;
}
.dn-aux-helpers.bottom-left {
  left: 0;
  top: 100%;
}
.dn-aux-helpers.bottom-center {
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
.dn-aux-helpers.inner-top-right {
  right: 2px;
  top: -2px;
}
.dn-aux-helpers.inner-top-left {
  left: 2px;
  top: -2px;
}
.dn-aux-helpers.inner-top-center {
  right: 2px;
  top: -2px;
}
.dn-aux-helpers.inner-bottom-right {
  bottom: -2px;
  right: 2px;
}
.dn-aux-helpers.inner-bottom-left {
  bottom: -2px;
  left: 2px;
}
.dn-aux-helpers.inner-bottom-center {
  bottom: -2px;
  right: 2px;
}
.dn-aux-helpers.top-right {
  bottom: 100%;
  right: 0;
}
.dn-aux-helpers.top-left {
  bottom: 100%;
  left: 0;
}
.dn-aux-helpers.top-center {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.dn-aux-helpers button span {
  margin-left: 2px;
  transform: scale(0.9);
}
.dn-aux-helpers button span.dn-icon {
  margin-left: 0;
  transform: scale(1);
}
.dn-aux-helpers-content {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.dn-aux-helpers-content button {
  align-items: center;
  display: flex;
  font-size: 12px !important;
  height: 20px;
  padding: 0 3px;
}
.dn-aux-helpers-content > * {
  margin-bottom: 4px;
  margin-left: 2px;
  margin-top: 4px;
}
.dn-aux-helpers-content > :first-child {
  margin-left: 0;
}
.dn-aux-insertion {
  background-color: var(--dn-aux-insertion-color);
}
.dn-aux-dashed-box {
  border: 1px dashed var(--dn-aux-dashed-box-color);
}
.dn-aux-dashed-box-title {
  color: var(--dn-aux-dashed-box-title-color);
}
.dn-aux-selection-box {
  border: 2px solid var(--dn-aux-selection-box-border-color);
  pointer-events: none;
  position: relative;
}
.dn-aux-selection-box-inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.dn-aux-selection-box-title {
  color: var(--dn-aux-selection-box-color);
}
.dn-aux-selector button {
  align-items: center;
  background: var(--dn-aux-selector-btn-bg-color);
  border-color: var(--dn-aux-selector-btn-border-color);
  color: var(--dn-aux-selector-btn-color);
  display: flex;
  font-size: 12px !important;
  height: 20px;
  padding: 0 3px;
}
.dn-aux-selector button:focus,
.dn-aux-selector button:hover {
  background: var(--dn-aux-selector-btn-hover-bg-color);
  border-color: var(--dn-aux-selector-btn-hover-border-color);
  color: var(--dn-aux-selector-btn-hover-color);
}
.dn-aux-selector button:active {
  background: var(--dn-aux-selector-btn-active-bg-color);
  border-color: var(--dn-aux-selector-btn-active-border-color);
  color: var(--dn-aux-selector-btn-active-color);
}
.dn-aux-selector-menu {
  animation: dn-animate-slide-to-top 0.2s;
  margin-top: -4px;
  opacity: 0.8;
}
.dn-aux-selector-menu button {
  align-items: center;
  display: flex;
  font-size: 12px !important;
  height: 20px;
  margin-top: 2px;
  padding: 0 3px;
}
.dn-aux-drag-handler {
  cursor: move;
}
.dn-aux-node-resize-handler {
  background-color: var(--dn-brand-color);
  height: 8px;
  pointer-events: all;
  position: absolute;
  width: 8px;
}
.dn-aux-node-resize-handler.x-start {
  cursor: ew-resize;
  left: 0;
  top: 50%;
  transform: translate(calc(-50% - 1px), -50%);
}
.dn-aux-node-resize-handler.x-end {
  cursor: ew-resize;
  left: 100%;
  top: 50%;
  transform: translate(calc(-50% + 1px), -50%);
}
.dn-aux-node-resize-handler.y-start {
  cursor: ns-resize;
  left: 50%;
  top: 0;
  transform: translate(-50%, calc(-50% - 1px));
}
.dn-aux-node-resize-handler.y-end {
  cursor: ns-resize;
  left: 50%;
  top: 100%;
  transform: translate(-50%, calc(-50% + 1px));
}
.dn-aux-node-translate-handler {
  align-items: center;
  background: #1890ff;
  border-radius: 2px;
  display: flex;
  height: 20px;
  justify-content: center;
  opacity: 0.5;
  pointer-events: all;
  position: absolute;
  width: 40px;
}
.dn-component-tree {
  min-height: 100%;
  min-width: 100%;
}
.dn-designer-tools {
  align-items: center;
  display: flex;
}
.dn-designer-tools .ant-input-number {
  background: var(--dn-toolbar-input-bg-color) !important;
  border-color: var(--dn-toolbar-input-border-color) !important;
  color: var(--dn-toolbar-input-color) !important;
  font-size: 12px !important;
}
.dn-designer-tools .ant-input-number .ant-input-number-handler,
.dn-designer-tools .ant-input-number .ant-input-number-handler-wrap {
  background: var(--dn-toolbar-input-handler-bg-color) !important;
  border-color: var(--dn-toolbar-input-border-color) !important;
  color: var(--dn-toolbar-input-color) !important;
}
.dn-designer-tools .ant-input-number .ant-input-number-handler-down-inner,
.dn-designer-tools .ant-input-number .ant-input-number-handler-up-inner {
  color: var(--dn-toolbar-input-color) !important;
}
.dn-designer-tools .ant-input-number:hover {
  border-color: var(--dn-toolbar-input-hover-border-color) !important;
}
.dn-resource {
  flex-wrap: wrap;
}
.dn-resource-header {
  align-items: center;
  background-color: var(--dn-panel-active-bg-color);
  border-bottom: 1px solid var(--dn-panel-border-color);
  color: var(--dn-collapse-header-color);
  cursor: pointer;
  display: flex;
  font-size: 13px;
  padding: 5px 8px;
  transition: all 0.25s ease-in-out;
}
.dn-resource-header-expand {
  font-size: 12px;
  margin-right: 3px;
  transform: rotate(-90deg);
  transition: all 0.15s ease-in-out;
}
.dn-resource-content-wrapper {
  background: var(--dn-resource-content-bg-color);
  display: flex;
  justify-content: center;
}
.dn-resource-content {
  display: flex;
  display: none;
  flex-wrap: wrap;
  width: 100%;
}
.dn-resource.expand .dn-resource-content {
  grid-gap: 1px;
  background-color: var(--dn-panel-border-color);
  border-bottom: 1px solid var(--dn-panel-border-color);
  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
}
.dn-resource.expand .dn-resource-header-expand {
  transform: rotate(0);
}
.dn-resource-item {
  align-items: center;
  background: var(--dn-resource-content-bg-color);
  color: var(--dn-resource-item-color);
  cursor: grab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40px;
  position: relative;
  transition: color 0.1s ease-out;
  user-select: none;
}
.dn-resource-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--dn-resource-item-hover-color);
  z-index: 1;
}
.dn-resource-item-icon {
  margin: 12px 0;
}
.dn-resource-item-text {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 12px;
  text-align: center;
}
.dn-resource-item-remain {
  background: var(--dn-resource-content-bg-color);
}
.dn-ghost {
  background-color: var(--dn-ghost-bg-color);
  border-radius: 50px;
  color: var(--dn-ghost-color);
  font-size: 12px;
  height: 30px;
  padding-left: 25px;
  padding-right: 15px;
  position: fixed;
  transform: translateZ(0);
  z-index: 9999;
}
.dn-empty,
.dn-ghost {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  pointer-events: none;
  top: 0;
}
.dn-empty {
  background: var(--dn-empty-bg-color);
  bottom: 0;
  height: 100%;
  position: absolute;
  right: 0;
  transform: perspective(1px) translateZ(0);
  width: 100%;
}
.dn-empty .animations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dn-empty .hotkeys-list {
  color: #888;
  line-height: 30px;
  text-align: center;
}
.dn-outline-tree-container {
  background-color: var(--dn-outline-tree-bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.dn-outline-tree-header {
  align-items: center;
  border-bottom: 1px solid var(--dn-outline-tree-header-border-color);
  color: var(--dn-outline-tree-color);
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.dn-outline-tree-title {
  font-size: 16px;
  font-weight: 500;
}
.dn-outline-tree-close {
  align-items: center;
  cursor: pointer;
  display: flex;
  transform: scale(1.6);
}
.dn-outline-tree-content {
  flex-grow: 1;
  height: 100%;
  overflow: overlay;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
}
.dn-outline-tree-aux {
  left: 0;
  position: absolute;
  top: 0;
}
.dn-outline-tree-insertion {
  background-color: var(--dn-outline-tree-insertion-bg-color);
}
.dn-outline-tree-node {
  min-width: 100%;
  position: relative;
  user-select: none;
  width: fit-content;
}
.dn-outline-tree-node.expanded
  > .dn-outline-tree-node-header
  .dn-outline-tree-node-expand {
  transform: rotate(0);
}
.dn-outline-tree-node.expanded > .dn-outline-tree-node-children {
  display: block;
}
.dn-outline-tree-node.selected > .dn-outline-tree-node-header,
.dn-outline-tree-node.selected
  > .dn-outline-tree-node-header
  .dn-outline-tree-node-header-head {
  background-color: var(--dn-panel-active-bg-color);
}
.dn-outline-tree-node.droppable
  > .dn-outline-tree-node-header
  .dn-outline-tree-node-header-content
  .dn-outline-tree-node-header-base
  > .dn-outline-tree-node-icon {
  transform: scale(1.2);
}
.dn-outline-tree-node-hidden-icon:not(.hidden) {
  display: none;
}
.dn-outline-tree-node-header {
  align-items: center;
  color: var(--dn-outline-tree-node-header-color);
  display: flex;
  min-height: 32px;
  min-width: 100%;
  padding-left: 8px;
  position: relative;
  width: fit-content;
}
.dn-outline-tree-node-header:hover .dn-outline-tree-node-header-content {
  color: var(--dn-outline-tree-node-hover-color);
}
.dn-outline-tree-node-header:hover .dn-outline-tree-node-hidden-icon {
  display: block;
}
.dn-outline-tree-node-header-head {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}
.dn-outline-tree-node-header-content {
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 100%;
  justify-content: space-between;
  min-width: 100%;
  transform-origin: left;
  transition: all 0.15s ease-in;
  width: fit-content;
}
.dn-outline-tree-node-header-base {
  align-items: center;
  display: flex;
}
.dn-outline-tree-node-header-actions {
  align-items: center;
  display: flex;
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dn-outline-tree-node-expand {
  align-items: center;
  display: flex;
  margin-right: 3px;
  transform: rotate(-90deg);
  transition: all 0.15s ease-out;
  width: 12px;
}
.dn-outline-tree-node-icon {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  display: flex;
  font-size: 12px;
  margin-right: 5px;
}
.dn-outline-tree-node-title {
  margin-right: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dn-outline-tree-node-actions {
  flex-grow: 2;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dn-outline-tree-node-children {
  display: none;
  min-width: 100%;
  padding-left: 16px;
  width: fit-content;
}
.dn-history-item {
  align-items: center;
  color: var(--dn-outline-tree-node-header-color);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  min-height: 32px;
  padding: 0 10px;
}
.dn-history-item-timestamp {
  font-size: 10px;
}
.dn-history-item.active,
.dn-history-item:hover {
  background-color: var(--dn-panel-active-bg-color);
}
.dn-node-path {
  border-bottom: 1px solid var(--dn-panel-border-color);
  padding: 4px 10px !important;
}
.dn-node-path .dn-icon {
  font-size: 11px;
}
.dn-node-path .ant-breadcrumb-separator {
  margin: 0 4px !important;
}
.dn-node-path a {
  font-size: 12px;
}
.dn-node-actions {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 100%;
}
.dn-node-actions-content {
  align-items: center;
  display: flex;
  line-height: 1;
  padding: 0 20px;
  position: relative;
}
.dn-node-actions-content:before {
  right: 100%;
}
.dn-node-actions-content:after,
.dn-node-actions-content:before {
  border-bottom: 1px dashed #f0f0f0;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  width: 300%;
}
.dn-node-actions-content:after {
  left: 100%;
}
.dn-node-actions-content a {
  color: rgba(0, 0, 0, 0.45);
}
.dn-node-actions-content a:hover {
  color: #1890ff;
}
.dn-node-actions-item-text {
  align-items: center;
  display: flex;
  font-size: 10px;
  line-height: 1;
}
.dn-node-actions-item-text .dn-icon {
  margin-right: 6px;
}
.dn-droppable-placeholder {
  align-items: center;
  background-color: var(--dn-droppable-bg-color);
  border: 1px dashed var(--dn-droppable-border-color);
  color: var(--dn-droppable-color);
  display: flex;
  font-size: 13px;
  font-weight: lighter;
  height: 60px;
  justify-content: center;
}
.dn-pc-simulator {
  background-color: var(--dn-pc-simulator-bg-color);
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.dn-mobile-simulator {
  background-color: var(--dn-mobile-simulator-bg-color);
  height: 100%;
  min-height: 100px;
  position: relative;
  width: 100%;
}
.dn-mobile-simulator-content {
  height: 100%;
  left: 0;
  overflow: overlay;
  position: absolute;
  top: 0;
  width: 100%;
}
.dn-mobile-simulator-body {
  display: flex;
  height: 100%;
  justify-content: center;
}
.dn-mobile-simulator-body-content {
  background-color: var(--dn-mobile-simulator-body-bg-color);
  border: 3px solid var(--dn-mobile-simulator-border-color);
}
.dn-responsive-simulator {
  background-color: var(--dn-responsive-simulator-bg-color);
}
.dn-resize-handle {
  align-items: center;
  background: var(--dn-resize-handle-bg-color);
  bottom: 0;
  box-sizing: border-box;
  color: var(--dn-resize-handle-color);
  display: flex;
  justify-content: center;
  position: absolute;
  transition: all 0.2s ease-in-out;
  user-select: none;
  z-index: 10;
}
.dn-resize-handle-RESIZE_WIDTH {
  bottom: 15px;
  cursor: ew-resize;
  top: 0;
}
.dn-resize-handle-RESIZE_WIDTH svg {
  transform: rotate(-90deg);
  transform-origin: center;
}
.dn-resize-handle-RESIZE_HEIGHT {
  cursor: ns-resize;
  left: 0;
  right: 15px;
}
.dn-resize-handle-RESIZE {
  cursor: nwse-resize;
}
.dn-resize-handle-RESIZE,
.dn-resize-handle-RESIZE_HEIGHT {
  height: 15px;
}
.dn-resize-handle-RESIZE,
.dn-resize-handle-RESIZE_WIDTH {
  right: 0;
  width: 15px;
}
.dn-resize-handle:hover {
  background: var(--dn-resize-handle-hover-bg-color);
  color: var(--dn-resize-handle-hover-color);
}

.dn-designable-module .ant-input,
.dn-designable-module .ant-input-number,
.dn-designable-module .ant-input-affix-wrapper,
.dn-designable-module .ant-cascader-picker,
.dn-designable-module .ant-picker-input,
.dn-designable-module .ant-picker,
.dn-designable-module .ant-cascader-picker-label,
.dn-designable-module .ant-slider,
.dn-designable-module .ant-checkbox,
.dn-designable-module .ant-rate,
.dn-designable-module .ant-switch,
.dn-designable-module .ant-radio,
.dn-designable-module .ant-radio-wrapper,
.dn-designable-module .ant-checkbox-group,
.dn-designable-module .ant-checkbox-wrapper,
.dn-designable-module .ant-radio-group,
.dn-designable-module .ant-upload,
.dn-designable-module .ant-transfer,
.dn-designable-module .ant-select,
.dn-designable-module .ant-select-selector {
  pointer-events: none !important;
}
.dn-designable-module .ant-input input,
.dn-designable-module .ant-input-number input,
.dn-designable-module .ant-input-affix-wrapper input,
.dn-designable-module .ant-cascader-picker input,
.dn-designable-module .ant-picker-input input,
.dn-designable-module .ant-picker input,
.dn-designable-module .ant-cascader-picker-label input,
.dn-designable-module .ant-slider input,
.dn-designable-module .ant-checkbox input,
.dn-designable-module .ant-rate input,
.dn-designable-module .ant-switch input,
.dn-designable-module .ant-radio input,
.dn-designable-module .ant-radio-wrapper input,
.dn-designable-module .ant-checkbox-group input,
.dn-designable-module .ant-checkbox-wrapper input,
.dn-designable-module .ant-radio-group input,
.dn-designable-module .ant-upload input,
.dn-designable-module .ant-transfer input,
.dn-designable-module .ant-select input,
.dn-designable-module .ant-select-selector input {
  pointer-events: none !important;
}
.dn-designable-module .anticon svg {
  pointer-events: none;
}
